%button {
    box-sizing: border-box;
    background: 0; border: 0;
    margin: 8px; padding: 8px 16px;
    min-width: 36px; min-height: 36px;
    background-color: transparent;
    border-radius: 2px;
    color: inherit;
    font: inherit;
    font-size: 12px;
    font-weight: $regular;
    text-align: center;
    cursor: pointer;
    outline: 0;
    transition: background $standard-curve 0.2s,
                box-shadow $standard-curve 0.2s;


    &.large {
        font-size: 22px;
        min-height: 48px;
    }
    // &.small {
    //     font-size: 10px;
    //     min-height: 20px;
    //     padding: 0 8px;
    // }
}

@media print {
    %button {
        background: 0;
        border: 1px solid #999 !important;
        &[disabled]::after, &:disabled::after {
            content: "\00a0[Disabled]"
        }
    }
}
//! For new buttons, the background color for :hover, :focus, and :active
//! should always fade to the color of the text. You can see this is .raised-btn and .raised-btn-2
//!     White text -> fade to white
//!     Black text -> fade to black


@mixin flat-btn($txt-color) {
    @extend %button;

    $hover: $color-fade;
    $active: $color-aside;

    @if lightness($txt-color) < 50 {
        $hover: invert($color-fade);
        $active: invert($color-aside);
    }

    border: 1px solid $hover;
    &:hover, &:focus {
        background-color: $hover;
    }
    &:active {
        background-color: $active;
    }
    color: $txt-color;
    &[disabled], &:disabled {
        background-color: transparent;
        opacity: 0.52;
        cursor: not-allowed;
    }
    @media print {
        border: 1px solid #999;
    }
}

@mixin raised-btn($bg-color, $txt-color) {
    @extend %button;
    @include shadow(2);
    background-color: $bg-color;
    color: $txt-color;
    &:hover, &:focus {
        @if lightness($txt-color) > 50 {
            background-color: lighten($bg-color, 6%);
        } @else {
            background-color: darken($bg-color, 6%);
        }
    }
    &:active {
        @if lightness($txt-color) > 50 {
            background-color: lighten($bg-color, 18%);
        } @else {
            background-color: darken($bg-color, 18%);
        }
        @include shadow(8);
    }
    &:disabled {
        background-color: grayscale($secondary);
        @include shadow(2);
        color: rgba(white, 0.52);
        cursor: not-allowed;
    }
}

.flat-btn,
.flat-btn-dark {@include flat-btn(#fafafa);}
.flat-btn-light {@include flat-btn(#212121);}

.raised-btn {@include raised-btn($accent, $against-accent);}
.raised-btn-2 {@include raised-btn($secondary, $against-secondary);}

.icon-btn {
    height: 40px;
    width: 40px;
    // border-radius: 16px;
    border-radius: 50%;
    padding: 0;
    i.material-icons {
        opacity: 0.72;
        position: relative;
        top: 2px;
        line-height: 1;
        padding: 0 4px;
    }
    &.large {
        height: 56px;
        width: 56px;
    }
    &.small {
        height: 24px;
        width: 24px;
    }
}
@media print {
    .icon-btn {
        background: 0;
        border: 1px solid #999;
        &[disabled], &:disabled {
            &::after {
                content: none
            }
        }
    }
}
