<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {%- if page.document_title -%}
        <title>{{ page.document_title | escape }}</title>
        {%- else -%}
        <title>{{ page.title | escape }} • Benji</title>
        {%- endif -%}
        <meta name="viewport" content="width=device-width">
        <meta name="theme-color" content="{{ page.theme-color }}">
        <link rel="shortcut icon" href="/assets/favicon/144.png">
        <!-- Manifest -->
        {%- if page.manifest -%}
            <link rel="manifest" href="{{ page.manifest }}">
        {%- endif -%}
        <!-- OpenGraph & Twitter -->
        {%- comment %}
            {%- unless page.description -%}
                {{ "Page description isn’t defined." | raise_error }}
            {%- endunless -%}
        {% endcomment %}
        <meta name="og:title"            content="{{ page.title | escape }}">
        <meta name="og:url"              content="{{ page.url | absolute_url | normalize_whitespace }}">
        {%- if page.description %}
            <meta name="og:description"      content="{{ page.description | escape | normalize_whitespace }}">
            <meta name="description"         content="{{ page.description | escape | normalize_whitespace }}">
        {% endif -%}
        <meta name="og:type"             content="website">
        <!-- Twitter Cards -->
        <meta name="twitter:title"       content="{{ page.title | escape }}">
        {%- if page.description %}
            <meta name="twitter:description" content="{{ page.description | escape | normalize_whitespace }}">
        {% endif -%}
        {%- if page.image %}
            <meta name="og:image"            content="{{ page.image.src | absolute_url }}">
            <meta name="og:image:alt"        content="{{ page.image.alt }}">
            <meta name="twitter:card"        content="summary_large_image">
            <meta name="twitter:image"       content="{{ page.image.src | absolute_url }}">
            <meta name="twitter:image:alt"   content="{{ page.image.alt }}">
        {% endif -%}
        <meta name="twitter:site"        content="{{ site.twitter }}">
        <meta name="twitter:creator"     content="{{ site.twitter }}">

        {%- if page.date %}
        <!-- Article stuff -->
            <meta name="article:published_time" content="{{ page.date | date_to_xmlschema }}">
            {%- if page.last_mod %}
                <meta name="article:modified_time"  content="{{ page.last_mod | date_to_xmlschema }}">
            {% endif -%}
        {% endif -%}

        <!-- Twitter widget colors -->
        <meta name="twitter:widgets:theme"        content="dark">
        <meta name="twitter:widgets:link-color"   content="{{ page.theme-color }}">
        <meta name="twitter:widgets:border-color" content="{{ page.theme-color }}">

        <!-- Import styles -->
        <!-- Import Material Icons, Roboto & Roboto Mono -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Roboto:100,100i,200,200i,300,300i,400,400i,500,500i|Roboto+Mono:300,300i,400,400i">
        {%- if page.styles -%}
            {%- for stylesheet in page.styles -%}
            <link rel="stylesheet" href="{{ stylesheet.href }}">
            {%- endfor -%}
        {%- endif -%}

        <!-- Google site verification -->
        <meta name="google-site-verification" content="3RNRM0WftJT1LuEg3jjTpufm1mxfhkHNtRJFMBP1Eyc">

        {%- if jekyll.environment == "production" %}
            <script async src="https://www.google-analytics.com/analytics.js"></script>
        {% else %}
            <script async src="https://www.google-analytics.com/analytics_debug.js"></script>
        {% endif -%}

        <script src="/scripts/focus-visible.js" async></script>
        <script src="https://twemoji.maxcdn.com/2/twemoji.min.js?2.6"></script>
        <script type="text/javascript">
            (function(d, w) {
                "use strict";
                d.documentElement.classList.remove("no-js");
                {%- include specials/analytics.html %}
                w.xyz = w.xyz || {
                    ready: function (fn) {
                        if (
                            d.attachEvent ? d.readyState === "complete" : d.readyState !== "loading"
                        ) {fn();}
                        else {d.addEventListener("DOMContentLoaded", fn);}
                    }
                };
                w.twemoji = w.twemoji || {parse: function (s) {return s;}};
                twemoji.size = "svg"; twemoji.ext = ".svg";

                // Catch errors
                w.onerror = function (err, uri, line, col) {
                    var msg = (uri + " @ " + line + ":" + col + ":\n\t" + err);
                    if ('ga' in w && !msg.includes("Ahaha!")) {
                        ga('send', 'event', 'Client error', msg);
                    }
                    xyz.toast({
                        content: "An uncaught exception has occurred, see the console for more details.",
                        timeout: 5000
                    });
                    console.warn("%cException:", "font-weight:bold", msg);
                    return false;
                }
            }(document, window));
        </script>
