<footer class="footer" id="footer">
    <!-- <div class="container">
        <p>I love you. &lt;3</p>
    </div> -->

    <div class="container">
        <div class="grid">
            <div class="m6 s12">
                <h2 class="h4 txt-light" id="footer--about">About</h2>
                <p>{{ site.synopsis | escape }}</p>
            </div>
            <div class="m6 s12">
                <nav>
                    <h2 class="h4 txt-light">Navigation</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="https://github.com/mindfulminun">GitHub</a></li>
                        <li><a href="https://twitter.com/MindfulMinun">Twitter</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="mini-ribbon">
        <div class="container">
            <p id="footer--random-blob">
                <noscript>
                    “I heard hackers can use ‘java scripts’ to hack into your bank account” &mdash;&nbsp;Paranoid&nbsp;mom
                </noscript>
            </p>
        </div>
    </div>
</footer>
