<footer class="footer" id="footer">
    <div class="container">
        <div class="grid">
            <div class="m6 s12">
                <h2 class="h4 txt-light flush" id="footer--about">About</h2>
                <p>{{ site.synopsis | markdownify }}</p>
            </div>
            <div class="m6 s12">
                <nav>
                    <h2 class="h4 txt-light flush">Navigation</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/p/">Projects</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="mini-ribbon">
        <div class="container">
            <p id="footer--blob">
                <noscript>
                    “I heard hackers can use ‘java scripts’ to hack into your bank account” &mdash;&nbsp;Paranoid&nbsp;mom
                </noscript>
            </p>
        </div>
    </div>
</footer>
