<!doctype html>
<html class="no-js" lang="{%- if page.lang -%}{{ page.lang }}{%- else -%}en-US{%- endif -%}">
    <head>
        {%- include layout/default-head.html %}
        {%- if page.afterHead -%}{{ page.afterHead }}{%- endif -%}
    </head>
    <body class="fluid-body">
        {%- include layout/banners.html %}
        <main>
            {%- if page.container-fluid -%}
            <div class="container-fluid">
            {%- else -%}
            <div class="container">
            {%- endif -%}
                {{ content }}
            </div>
        </main>
        <div id="toast-container" aria-live="polite"></div>
        {%- if page.afterHTML -%}{{ page.afterHTML }}{%- endif -%}
    </body>
    {%- include layout/scripts.html -%}
</html>
