<!doctype html>
<html class="no-js" lang="en-US">
    <head>
        {%- include layout/default-head.html %}
        <link rel="stylesheet" href="/styles/master.css">
    </head>
    <body class="fluid-body">
        {%- include layout/header.html %}
        {%- include layout/banners.html %}
        <main>
            <div class="container">
                {{ content }}
            </div>
            {%- include specials/disqus.html %}
        </main>
        {%- include layout/footer.html %}
        {%- comment %}
        <button class="sr-only">Bottom of page.</button>
        {%- include layout/drawer.html %}
        {% endcomment -%}
    </body>
    {%- include layout/scripts.html %}
</html>
