---
---
//! =============================== !//
//! ========== Variables ========== !//
//! =============================== !//
@import "_vars";

//! ====================================== !//
//! ========== Helpers & Mixins ========== !//
//! ====================================== !//
@import "_helpers-mixins";

//! ================================= !//
//! ========== Scaffolding ========== !//
//! ================================= !//
html, body {
    margin: 0;
    height: 100%;
    font-family: $font;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    background-color: $background-color;
    color: $text-color;
}
:root {
    //! CSS vars
    --accent: #{$accent};
    --secondary: #{$secondary};
}
::selection {
    background: $accent;
    background: var(--accent, $accent);
    color: $against-accent !important;
    text-shadow: none !important;
}
:focus {
    outline: 1px dotted white;
    outline-offset: 4px;
}
.container-fluid, .container {
    @extend .cf;
    width: 100%;
    // padding-right: 1rem;
    // padding-left: 1rem;
    padding: 0.5rem 1rem;

    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    // margin-top: 1rem;
}
@media #{$s2-up} {
    .container {max-width: $s2;}
}
@media #{$m2-up} {
    .container {max-width: $m2;}
}

//! ============================ !//
//! ========== Resets ========== !//
//! ============================ !//
@import "_resets";

//! Maybe add ;typography here?

//! ====================================== !//
//! ========== Material Shadows ========== !//
//! ====================================== !//
//! Usage: @include shadow(12);
//! Don't forget to include the transition: box-shadow 0.2s $standard-curve;
@import "_shadows";

//! ============================= !//
//! ========== Buttons ========== !//
//! ============================= !//
@import "_buttons";
//! Classes: .raised-btn     .raised-btn-2
//!          .flat-btn-light .flat-btn-dark

//! ========================== !//
//! ========== Grid ========== !//
//! ========================== !//
@import "_grid";

//! ========================================================= !//
//! ========================================================= !//
//! ==================== Authored Styles ==================== !//
//! ========================================================= !//
//! ========================================================= !//

body.fluid-body {
    // height: 100%;
    display: flex;
    flex-direction: column;
    main {
        margin-top: 1rem;
        flex: 1;
    }
    footer {
        background-color: $accent;
        background-color: var(--accent, #{$accent});
        > .container {
            padding: 1rem;

            blockquote {
                border-color: $secondary;
                border-color: var(--secondary, $secondary);
            }
        }
        .mini-ribbon {
            .container {
                padding: 0.25rem 1rem;
            }
            background-color: rgba(black, 0.12);
            color: $color-aside;
            min-height: 56px;
        }
    }
}

//! Media figures
figure {
    //! Use these styles if browser doesn't support media queries
    margin: 0 auto;
    padding: 1rem;
    max-width: 640px;
    &.small {max-width: 480px;}
    &.med   {max-width: 640px;}
    &.large {max-width: 720px;}
    figcaption {
        font-style: italic;
        color: $color-aside;
        margin: 0.5rem 0;
        padding: 0;
    }
}
//! Fullwidth figures
@media #{$s2-down} {
    //! If the browser *does* supports media queries, use these styles for mobile
    .container, .container-fluid, .post-content {
        figure:not(.no-stick) {
            //! Negative margin to stick figure to the edges on mobile
            margin: 1rem -1rem;
            padding: 0;
            max-width: none;
            figcaption {
                //! Add some space between the edge of the screen and caption
                padding: 0 1rem;
            }
        }
        hr:not(.no-stick) {margin: 0.5rem -1rem;}
    }
}

@import "_banners";
@import "_nav-bar";
@import "_dialogs";
@import "_toasts";

//! ============================ !//
//! ========== Extras ========== !//
//! ============================ !//

//! Ruby
.ruby {
}

//! Tooltips
.tooltip[data-tooltip] {
    //! Slides to bottom of content
    position: relative;
    cursor: help;
    border-bottom: 1px dotted;
    &::after {
        pointer-events: none;
        display: block;
        position: absolute;
        z-index: 25;
        content: attr(data-tooltip);
        text-align: center;
        font-size: 14px;
        font-weight: $light;
        font-style: normal;
        white-space: pre-line;
        opacity: 0;
        left: 0; right: 0;
        bottom: 0.5em;
        background: rgba(#616161, 90);
        transform: translateY(100%) translateX(-50%);
        color: #fff;
        width: max-content;
        max-width: 20rem;
        margin-left: 50%;
        padding: 4px 8px;
        border-radius: 2px;
        transition: 0.15s opacity $acceleration-curve,
                    0.15s bottom  $acceleration-curve;
    }
    &:hover::after {
        opacity: 1;
        bottom: -0.5em;
        transition: 0.15s opacity $deceleration-curve,
                    0.15s bottom  $deceleration-curve;
    }
}

//! Twemoji
img.emoji {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}
//! Ruby annotations
// .ruby {
//     cursor: help;
// }


//! ================================== !//
//! ========== Print styles ========== !//
//! ================================== !//
@import "_print";
