---
---
//! =============================== !//
//! ========== Variables ========== !//
//! =============================== !//
@import "_vars";

//! ====================================== !//
//! ========== Helpers & Mixins ========== !//
//! ====================================== !//
@import "_helpers-mixins";

//! ================================= !//
//! ========== Scaffolding ========== !//
//! ================================= !//
html, body {
    margin: 0;
    height: 100%;
    font-family: $font;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    background-color: $background-color;
    color: $text-color;
}
:root {
    //! CSS vars
    --accent: #{$accent};
    --secondary: #{$secondary};
}
::selection {
    background: $accent;
    background: var(--accent, $accent);
    color: $against-accent !important;
    text-shadow: none !important;
}
:focus {
    outline: 1px dotted white;
    outline-offset: 4px;
}
.container-fluid, .container {
    @extend .cf;
    width: 100%;
    // padding-right: 1rem;
    // padding-left: 1rem;
    padding: 0.5rem 1rem;

    margin-left: auto;
    margin-right: auto;
    // margin-top: 1rem;
}
@media #{$s2-up} {
    .container {max-width: $s2;}
}
@media #{$m2-up} {
    .container {max-width: $m2;}
}

//! ============================ !//
//! ========== Resets ========== !//
//! ============================ !//
@import "_resets";

//! Maybe add ;typography here?

//! Maybe add ;grid here?
// @import "_grid";

//! ====================================== !//
//! ========== Material Shadows ========== !//
//! ====================================== !//
//! Usage: @include shadow(12);
//! Don't forget to include the transition: box-shadow 0.2s $standard-curve;
@import "_shadows";

//! ============================= !//
//! ========== Buttons ========== !//
//! ============================= !//
@import "_buttons";
//! Classes: .raised-btn     .raised-btn-2
//!          .flat-btn-light .flat-btn-dark


//! ========================================================= !//
//! ========================================================= !//
//! ==================== Authored Styles ==================== !//
//! ========================================================= !//
//! ========================================================= !//

body.fluid-body {
    // height: 100%;
    display: flex;
    flex-direction: column;
    main {
        padding-top: 1rem;
        flex: 1;
    }
    footer {
        background-color: $accent;
        background-color: var(--accent, #{$accent});
        .container {
            // a[href] {
            //     color: $secondary;
            //     color: var(--secondary, $secondary);
            //     text-decoration: none;
            // }

            blockquote {
                border-color: $secondary;
                border-color: var(--secondary, $secondary);
            }
        }
        .mini-ribbon {
            background-color: rgba(black, 0.12);
            color: $color-aside;
            min-height: 56px;
        }
    }
}

//! Media figures
figure {
    //! Use these styles if browser doesn't support media queries
    margin: 0 auto;
    padding: 1rem 2rem;
    max-width: 640px;
    figcaption {
        font-style: italic;
        color: $color-aside;
        margin: 0.5rem 0;
        padding: 0;
    }
}
@media #{$s2-down} {
    //! If the browser *does* supports media queries, use these styles for mobile
    .container, .container-fluid {
        > figure {
            //! Negative margin to stick figure to the edges on mobile
            margin: 1rem -1rem;
            padding: 0;
            figcaption {
                //! Add some space between the edge of the screen and caption
                padding: 0 1rem;
            }
        }
    }
}

.banner {
    background-color: $accent;
    color: #fafafa;
    width: 100%;
    border-bottom: 1px solid $color-fade;
    transition: opacity   $deceleration-curve 0.2s,
                transform $deceleration-curve 1s;
    .banner--close {
        float: right;
        position: relative;
    }
    &.error {
        background-color: #ff5252;
    }
    &.banner-hidden {
        position: absolute;
        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none;
    }
}

//! Twemoji
img.emoji {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}


//! ============================== !//
//! ========== Side nav ========== !//
//! ============================== !//

$side-nav-target: ".side-nav";
// $side-nav-curtain-color

#{$side-nav-target} {

    .nav-box {
        position: fixed;
        top: 0; bottom: 0; left: 0;
        width: calc(100% - 64px);
        max-width: 320px;
        background-color: white;
        transform: translateX(-100%);
        transition: transform $standard-curve 0.2s;
    }
    .nav-scrim {
        position: fixed;
        display: block;
        border: 0; padding: 0; margin: 0;
        top: 0; bottom: 0; left: 0; right: 0;
        width: 100%; height: 100%;
        background-color: #000;
        opacity: 0;
        pointer-events: none;
        transition: opacity $standard-curve 0.2s;
    }

    .account-box {
        color: #fff;
        font-size: 14px;
        padding: 16px;
        background: $accent;
        position: relative;

        a {
            @extend .txt-alike;
            color: inherit;
            display: block;
        }

        .user-image {
            display: block;
            height: 72px;
            width: 72px;
            background-color: $color-fade;
            border-radius: 50%;
            overflow: hidden;
            img {
                // width: 100%;
                // height: 100%;
            }
        }
        .user-info {
            position: relative;
            .username {
                margin-top: 8px;
                display: block;
                bottom: 36px;
                font-weight: 500; //! Medium
            }
            .email {
                display: block;
                font-weight: 400; //! Regular
            }
            .switch-accounts {
                height: 24px;
                width: 24px;
                position: absolute;
                overflow: hidden;
                text-align: center;
                top: 0; right: 0;
            }
        }
    }

    &[data-drawer-state="open"] {
        .nav-box {
            transform: translateX(0%);
        }
        .nav-scrim {
            opacity: 0.52;
            pointer-events: all;
        }
    }

}

//! ================================== !//
//! ========== Print styles ========== !//
//! ================================== !//
@import "_print";
