---
---
//! =============================== !//
//! ========== Variables ========== !//
//! =============================== !//
@import "_vars";

//! ====================================== !//
//! ========== Helpers & Mixins ========== !//
//! ====================================== !//
@import "_helpers-mixins";

//! ============================ !//
//! ========== Resets ========== !//
//! ============================ !//
@import "_resets";

//! ================================= !//
//! ========== Scaffolding ========== !//
//! ================================= !//
html, body {
    margin: 0;
    height: 100%;
    font-family: $font;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    background-color: $background-color;
    color: $text-color;
    overflow-x: hidden;
}
:root {
    //! CSS vars
    --accent: #{$accent};
    --secondary: #{$secondary};
}
::selection {
    background: $accent;
    background: var(--accent, $accent);
    color: $against-accent !important;
    text-shadow: none !important;
}

//! Focus styles
//! See post.scss, look up "Focus styles"
.focus-visible:focus, :focus-within .focus-visible {
    outline-style: dashed;
    outline-color: white;
    outline-width: 1px;
    outline-offset: 0.125rem;
    &.header-link {
        h1, h2, h3, h4, h5, h6 {
            outline-style: dashed;
            outline-color: white;
            outline-width: 1px;
            outline-offset: 0.125rem;
        }
    }
}
input.focus-visible:focus {
    outline: none;
}

//! Hides focus ring if focused with mouse, but shows it if focused via keyboard
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.container-fluid, .container {
    @extend .cf;
    width: 100%;
    padding: 1rem;

    margin-left: auto;
    margin-right: auto;
}
@media #{$s2-up} {
    .container {max-width: $s2;}
}
@media #{$m2-up} {
    .container {max-width: $m2;}
}

//! Maybe add ;typography here?

//! ====================================== !//
//! ========== Material Shadows ========== !//
//! ====================================== !//
//! Usage: @include shadow(12);
//! Don't forget to include the transition: box-shadow 0.2s $standard-curve;
@import "_shadows";

//! ============================= !//
//! ========== Buttons ========== !//
//! ============================= !//
@import "_buttons";
//! Classes: .raised-btn     .raised-btn-2
//!          .flat-btn-light .flat-btn-dark

//! ========================== !//
//! ========== Grid ========== !//
//! ========================== !//
@import "_grid";

//! ========================================================= !//
//! ========================================================= !//
//! ==================== Authored Styles ==================== !//
//! ========================================================= !//
//! ========================================================= !//

body.fluid-body {
    // height: 100%;
    display: flex;
    flex-direction: column;
    main {
        flex: 1;
        @media #{$m1-up} {margin-top: 1rem;}
    }
    footer {
        background-color: $bg-5;
        > .container {
            blockquote {
                border-color: $secondary;
                border-color: var(--secondary, $secondary);
            }
        }
        .mini-ribbon {
            .container {
                padding: 0.25rem 1rem;
            }
            background-color: rgba(black, 0.12);
            color: $color-aside;
            min-height: 64px;
        }
    }
}

//! Media figures
figure {
    //! Use these styles if browser doesn't support media queries
    margin: 0 auto;
    padding: 1rem;
    max-width: 640px;
    &.small {max-width: 30rem;}
    &.med   {max-width: 40rem;}
    &.large {max-width: 50rem;}
    &.no-cap {max-width: none;}
    figcaption {
        font-style: italic;
        color: $color-aside;
        margin: 0.5rem 0;
        padding: 0;
    }
}
//! Fullwidth figures
@media #{$s2-down} {
    //! If the browser *does* supports media queries, use these styles for mobile
    .container, .container-fluid, .post-content {
        figure:not(.no-stick), .highlighter-rouge > .highlight {
            //! Negative margin to stick figure to the edges on mobile
            margin: 1rem -1rem;
            padding: 0;
            max-width: none;
            figcaption {
                //! Add some space between the edge of the screen and caption
                padding: 0 1rem;
            }
        }
        // hr:not(.no-stick) {margin: 0.5rem -1rem;}
    }
}

@import "_banners";
@import "_nav-bar";
@import "_dialogs";
@import "_toasts";
// @import "syntax";

//! ============================ !//
//! ========== Extras ========== !//
//! ============================ !//

//! Tooltips
@import "_tooltips";

//! Twemoji
img.emoji {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

ruby > rt {font-size: 60%;}

//! Post card listings
.post-card {
    @include ratio(16, 9);
    width: 100%;
    overflow: hidden;
    border: 1px solid #3b3b3b;
    border-radius: 4px;
    background-size: cover;
    color: inherit;
    display: block;
    .post-card-content {
        padding: 1rem;
        position: absolute;
        bottom: 0; left: 0; right: 0;
        background: $text-against-image;
        font-weight: $light;
    }
}
.horizontal-scroller {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    line-height: 0;
    margin: .5rem -1rem;
    padding: .5rem 1rem;
    // Scroll props
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x proximity;
    scroll-padding: 1rem;
    > .horizontal-scroller__element {
        display: inline-block;
        white-space: normal;
        margin-right: 1rem;
        line-height: 1.5;
        scroll-snap-align: start; // Snap scrolling to start
        &:last-of-type {
            margin-right: 0;
        }
        > a {
            width: 240px;
        }
    }
}

.block-warn {
    border: 1px solid #ff4444;
    border-radius: 4px;
    background-color: rgba(#ff4444, 0.2);
    padding: 0 1rem;
    margin: 1rem 0;
}

//! ================================== !//
//! ========== Print styles ========== !//
//! ================================== !//
@import "_print";
