---
---
@import "_vars";

.post-metadata {
    position: relative;
    #share {
        position: absolute;
        bottom: 0; right: 0;
    }
}

.post {
    .disqus-thread {
        // max-width: 100%;
    }
}

.post .post-content {
    hr {
        border-top-style: dashed;
    }

    @import "syntax";
}
