---
---
@import "_vars";

.post-metadata {
    position: relative;
    background: $accent;
    margin-top: -1rem;
    #share {
        margin: 0;
        margin-bottom: 1rem;
    }
    .ribbon-gradient-container {
        padding-top: 30vh;
    }
    &.ribbon-image {
        background-position: center;
        background-size: cover;
        > .ribbon-gradient-container {
            background: $text-against-image;
            .txt-aside {color: rgba(white, 0.72);}
        }
    }
}


@media print {
    .post-metadata {
        padding-top: 0;
        margin-top: 0;
    }
    .post {
        .disqus-thread {
            #disqus_thread {display: none;}
            &::after {
                content: "Thanks for reading. This post contains a comment thread not shown in print.";
                font-style: italic;
                padding: 1rem 0;
            }
        }
    }
}

.post .post-content {
    a.header-link {
        color: inherit;
        text-decoration: none;
        h1, h2, h3, h4, h5, h6 {
            position: relative;
            color: inherit;
            &::after {
                content: '\00a0link';
                font-family: "Material Icons";
                font-size: 0.72em;
                color: white;
                opacity: 0;
                transition: opacity 0.15s $sharp-curve;
            }
            &:hover::after {
                opacity: 0.5;
            }
        }
    }
    hr {
        border-top-style: dashed;
    }
    @import "syntax";
}
